### Q1
List the basic data types in python and give one example each.

- Integer
- Float
- String
- Boolean

In [7]:
w = 10
print(type(w))

x = 9.5
print(type(x))

y = "I like programming in Python"
print(type(y))

z = 10 > 9.5
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [1]:
x = 4539.85
y = str(x)
z = int(x)

In [6]:
print(f"type of y is: {type(y)}")
print(f"type of z is: {type(z)}")

type of y is: <class 'str'>
type of z is: <class 'int'>

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

#### Answers

a. float

b. int

c. string

d. float

e. int

f. float

g. boolean

i. string

j. float

k. int

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [7]:
statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"

In [11]:
statement1 = statement.split(".")[0]
statement2 = statement.split(".")[1]

In [15]:
print(f"Length of statement1 is: {len(statement1)}")
print(f"Length of statement2 is: {len(statement2)}")

print(f"Is the length of statement 1 greater than statement 2: {len(statement1) > len(statement2)}")

Length of statement1 is: 60
Length of statement2 is: 35
Is the length of statement 1 greater than statement 2: True

### Q5
What values does python use to represent **True** and **False** respectively?

- True is 1
- False is 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [16]:
30 > 76 > 46

False

In [19]:
(8-2) % 2 == 0 or 8 % 2 != 0

True

In [20]:
len("boostrap") == 7 and len("sample") == 6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [21]:
word='Hello, How are you?'

In [22]:
word[7:10]

'How'

In [25]:
word[7:-1]

'How are you'

In [27]:
word.split(" ")[2]

'are'

In [28]:
word[-1]

'?'

In [29]:
word[:-1]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [9]:
sentence = "I am very excited"

In [31]:
sentence.upper()

'I AM VERY EXCITED'

In [32]:
sentence.lower()

'i am very excited'

In [33]:
sentence.title()

'I Am Very Excited'

In [10]:
sentence.split(" ")

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [35]:
word = 'OneThirtyEight'

In [36]:
word[:3]

'One'

In [37]:
word[3:9]

'Thirty'

In [38]:
word[9:]

'Eight'

In [39]:
word[:9]

'OneThirty'

In [40]:
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [41]:
name = 'Ault\'Kelly'
name

"Ault'Kelly"