### Q1

Name the four built-in data structures in python. Give one examples for each

- lists
- sets
- dictionaries
- tuples

In [1]:
# create empty list
emptyList = []
# print type of emptyList
print(type(emptyList))

# create set
first_set = {2,3,4,5}
# print of first_set
print(type(first_set))

# create dictionary
first_dict = {"name": "Samuel",
              "age": "unknown",
              "gender": "male"}
# print tpe of first_dict
print(type(first_dict))

# create tuple
tup_one = (1,2,3,4,5)
# print type of tup_one
print(type(tup_one))

<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

### Q2

State two differences between a list and a tuple in Python.

* Lists are mutable while tuples are immutable
* Lists are defined with square brackets while tuples are defined with parentheses

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [2]:
# create list containing animals
animal_list = ["cat", "horse", "pig", "dog", "cow"]

In [3]:
# print first two animals
animal_list[:2]

['cat', 'horse']

In [4]:
# print last two animals
animal_list[3:]

['dog', 'cow']

In [5]:
# Add three extra animals to the variable animal_list
animal_list.extend(("tiger", "lion", "cheetah"))
animal_list

['cat', 'horse', 'pig', 'dog', 'cow', 'tiger', 'lion', 'cheetah']

In [6]:
# Remove the first two animals from the variable animal_list
# animal_list.pop(0)
del animal_list[:2]
animal_list

['pig', 'dog', 'cow', 'tiger', 'lion', 'cheetah']

In [7]:
# How many animals are in the animal_list?
len(animal_list)

6

In [8]:
# Create a variable animal_set which stores the set of animal_list
animal_set = set(animal_list)
animal_set

{'cheetah', 'cow', 'dog', 'lion', 'pig', 'tiger'}

In [9]:
# How many elements are in the animal_set?
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [10]:
# create list and assign to variable suitcase
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

# create list with first two items from suitcase
first = suitcase[:2]
print(f"first: {first}")
# create list with two middle items from suitcase
middle = suitcase[2:4]
print(f"middle: {middle}")
# create list with last two items from suitcase
last = suitcase[4:]
print(f"last: {last}")

first: ['sunglasses', 'hat']
middle: ['passport', 'laptop']
last: ['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [11]:
# create list
values = [20,25,30,40,45,50,55,60,65,70]
# insert value at index 3 in list
values.insert(3,35)
# print list
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

**Answer:**
I would prefer a tuple over a list when I am storing related values that I will not change later. For example, longitudes and latitudes

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [12]:
# create dictionary
region_capital = {"Greater Accra": "Accra",
                  "Ashanti Region": "Kumasi",
                  "Volta Region": "Ho",
                  "Central Region": "Cape Coast",
                  "Northern Region":"Tamale"}

# print keys from dictionary
print(f"Keys of region_capital: {region_capital.keys()}")

# print values from dictionary
print(f"Values of region_capital: {region_capital.values()}")

Keys of region_capital: dict_keys(['Greater Accra', 'Ashanti Region', 'Volta Region', 'Central Region', 'Northern Region'])
Values of region_capital: dict_values(['Accra', 'Kumasi', 'Ho', 'Cape Coast', 'Tamale'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [13]:
# create list
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]

In [14]:
# sum of all values in the list
sum(values)

62

In [15]:
# create empty dictionary
diction = {}
# iterate through list and count number of times each value occurs
for value in values:
    diction[value] = values.count(value)

# assign the highest value to a variable  
max_value = max(diction.values())
# print value that occurs the most in the list
print(f"Highest occurring number: {diction.get(max_value)}")

Highest occurring number: 3

In [16]:
# convert list to set
values_set = set(values)
# print set
values_set

{1, 2, 3, 4, 5, 6}

In [17]:
# length of list
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [18]:
# create empty dictionary
dicts = {}

# use numbers between 1 and 15 as keys and their squares as values
for i in range(1,16):
    dicts[i] = i ** 2
# display contents of dictionary    
dicts

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [19]:
# create list of keys
keys = ['x','y','z']

# create empty dictionary
diction = {}
# iterate through keys
for key in keys:
    # check key and assign respective values
    if key == 'x':
        diction[key] = list(range(11,21))
    elif key == 'y':
        diction[key] = list(range(21,31))
    else:
        diction[key] = list(range(31,40))

# iterate through list
for key in keys:
    # print key and fifth value
    print(f"{key}: {diction[key][4]}")

x: 15
y: 25
z: 35